/* Global preset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(196, 196, 196);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 2rem;
}
p {
  color: rgb(196, 196, 196);
  line-height: 2rem;
}
img {
  width: 100%;
}

/* navbar stytling starts */
#nav--header {
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem;
  border-bottom: solid 0.2rem rgb(41, 39, 93);
  background-color: rgba(102, 48, 152, 0.916);
}

.navbar ul {
  display: none;
  gap: 2rem;
  color: white;
}
/* navbar media quarry */
@media screen and (min-width: 600px) {
  .navbar ul {
    display: flex;
  }
}

.hero--section {
  background-color: rgb(11, 11, 11);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
@media screen and (min-width: 600px) {
  .hero--section {
    display: flex;
    flex-direction: row;
  }
}

.hero--section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* margin: auto; */
  gap: 2rem;
}
.hero--image {
  max-width: 700px;
}
.hero--image img {
  border-radius: 3rem;
}

.hero--head span {
  display: flex;
}
@media screen and (min-width: 600px) {
  .hero--head span {
    display: none;
  }
}

.product--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  border-bottom: 0.01rem solid rgb(41, 39, 93);
  background-color: rgb(44, 42, 40);
}

.product--logo img {
  border-radius: 1rem;
}
@media screen and (min-width: 600px) {
  .product--logo img {
    height: 30px;
    width: 50px;
  }
}
