/* Global preset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
ul {
  padding-left: 0 !important;
}
a {
  text-decoration: none;
  color: purple;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(196, 196, 196);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 2rem;
}
p {
  color: rgb(196, 196, 196);
  line-height: 1rem;
}
img {
  width: 100%;
}

/* navbar stytling starts */
#nav--header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  position: sticky;
  top: 0;
  border-bottom: solid 0.1rem rgb(41, 39, 93);
  background-color: white;
}

.navbar ul {
  display: none;
  gap: 2rem;
}
/* navbar media quarry */
@media screen and (min-width: 600px) {
  .navbar ul {
    display: flex;
  }
}

.hero--section {
  background-color: purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
}
@media screen and (min-width: 600px) {
  .hero--section {
    display: flex;
    flex-direction: row;
  }
}

.hero--head span {
  display: flex;
}
@media screen and (min-width: 600px) {
  .hero--head span {
    display: none;
  }
}

.hero--section-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  max-width: 500px;
}
@media screen and (min-width: 600px) {
  .hero--section-text {
    display: flex;
    text-align: start;
  }
}

.hero--image {
  max-width: 700px;
}
.hero--image img {
  border-radius: 3rem;
}

.product--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  border-bottom: 0.01rem solid rgb(41, 39, 93);
  background-color: white;
}

.product--logo img {
  border-radius: 1rem;
}
@media screen and (min-width: 600px) {
  .product--logo img {
    height: 30px;
    width: 50px;
  }
}

/* carousel image styling */
.carousel-bg {
  background-color: rgb(252, 250, 255);
  z-index: -3000;
}
.carousel-item img {
  border-radius: 1.5rem;
}

.container-fluid {
  position: relative;
  z-index: -3000;
}

/* Footer Styling */

.footarea {
  background-color: rgb(10, 10, 10);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 750px) {
  .footarea {
    flex-direction: row;
  }
}

.footer--contact {
  display: flex;
  justify-content: center;
  color: purple;
  align-items: center;
}

.footer--mail--link {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: purple;
}

.footer--mail--link h5 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: purple;
}
.footer--mail--link p {
  color: purple;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
h6 {
  color: purple;
}
.zilla {
  color: purple;
}
